
.tools {
  font-size: 20px;
}

body {
  padding: 20px 10px;
  font-family: Verdana;
  max-width: 2000px;
  margin: 0 auto;
  font-size: 1.4em;
}

h1 {
  text-align: center;
  background-color:#AB5E0C;
  color:white;
 }

p {
  margin: 10px 0;
  
}

ul {
	list-style-type: none; 
}

li {
  
}
  
.lesson {
  color: black;
  padding: 8px;
  margin: 10px auto;
}
.content {
  background-color: #EBDDCE;
  padding: 10px;
  margin: 10px;
  color: black;
 
}

.content-title {
  font-size: 28px;
  margin: 8px;
  text-align: center;
  color: #AB5E0C;
  font-weight:bold;
  
}